body {
    background-color: #ffffff;
}

.section1 img{
    width: 100%;
}

nav {
    justify-content: space-between;
}

body { 
    font-family: "Barlow Semi Condensed",sans-serif;
}

.test {
    height: 100vh;
    background-color: blue;
}